.cart-list {
  .cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 23.9px 0;
    border: 1px solid #EFEFEF;
    .item-image {
      flex: 4;
      display: flex;
      img {
        width: 100%;
      }
    }
    .item-detail {
      flex: 4;
      padding-left: 32px;
      .item-title {
        font-family: Nexa-Bold, sans-serif;
        color: #125451;
        font-size: 18px;
      }
      .item-info {
        font-size: 13px;
        color: #7C7B7B;
        font-family: Nexa-Light, sans-serif;
        margin: 4px 0px;
        .item-slug {
          text-decoration: underline;
          font-weight: 900;
        }
      }
      .item-actions {
        margin-top: 63.4px;
        span {
          font-size: 13px;
          font-family: Nexa-Bold, sans-serif;
          color: #4CBB75;
          text-decoration: underline;
          cursor: pointer;
          margin-right: 40px;
        }
      }
    }
    .cart-actions {
      flex: 4;
      .btn-unit {
        font-family: Nexa-Bold, sans-serif;
        font-size: 21px;
        color: #ffffff;
        background-color: #4CBB75;
        .currency {
          font-size: 14px;
        }
      }
      .quantities {
        background-color: #F4F4F4;
        color: #000000;
        position: relative;
        font: 17px Nexa-Light, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 5px;
          margin-right: 10px;
        }
      }
    }
  }
}