.order-summary {
  display: block;
  .btn-checkout {
    padding: 20px 0px;
    width: 100%;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    background-color: #0cb69b;
  }
  .cart-sub-total {
    padding: 4px 0px 10.8px;
    border-bottom: 1px solid #dbdbdb;
    .cart-sub-item {
      display: flex;
      justify-content: space-between;
      padding: 15px 0px;
      span {
        color: #656464;
        font-size: 16px;
        font-family: Nexa-Bold, sans-serif;
      }
    }
  }
  .cart-total {
    margin-top: 17.2px;
    .cart-sub-item {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 22px;
        color: #0f4542;
      }
    }
  }
}
