@import "../../layout/layout";

.createpassbtn {
  margin: 38px 0 0 -1px;
  width: 219px;
  height: 57px;
  vertical-align: middle;
  background-color: #0cb69b;
  border: #707070;
  font: 16px Nexa-Bold, sans-serif;
  color: #ffffff;
  cursor: pointer;
  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  &:hover {
    opacity: 0.9;
  }
}
