@import "../../layout/layout";

.forgotbutton {
  width: 160px;
  height: 64px;
  margin-left: 9px;
  vertical-align: middle;
  background-color: #0cb69b;
  border: #707070;
  font: 16px Nexa-Bold, sans-serif;
  color: #ffffff;
  cursor: pointer;
  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  &:hover {
    opacity: 0.9;
  }
  @include breakpoint($sm) {
    margin: 25px 0 0;
  }
}
