@import "../../layout/layout";

.primarybutton {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 150px;
  height: 57px;
  background-color: #0CB69B;
  border: #707070;
  font-size: 16px;
  color: #FFFFFF;
  :disabled {
    opacity: .4;
    pointer-events: none;
  }
}