@import "../../layout/layout";

button.social {
  vertical-align: middle;
  width: 301px;
  height: 64px;
  padding: 17px 32px 17px 41px;
  text-align: left;
  border: none;
  font: 16px Nexa-Bold, sans-serif;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    opacity: .9;
  }
  &.Facebook-button {
    background-color: #4267B2;
    i {
      padding-right: 37px;
      font-size: 30px;
    }
  }
  &.Google-button {
    background-color: #F14336;
    i {
      padding-right: 26.1px;
      font-size: 30px;
    }
  }
  @include breakpoint($sm) {
    width: 100% !important;
    text-align: center;
  }
}