@import "../../layout/layout";
.btn {
  &.createpass {
    margin: 38px 0 0 -1px;
    width: 219px;
    height: 57px;
    vertical-align: middle;
    background-color: #0cb69b;
    border: #707070;
    font: 16px Nexa-Bold, sans-serif;
    color: #ffffff;
    cursor: pointer;
    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }
    &:hover {
      opacity: 0.9;
    }
  }

  &.primary {
    width: 150px;
    height: 57px;
    vertical-align: middle;
    background-color: #0cb69b;
    border: #707070;
    font: 16px Nexa-Bold, sans-serif;
    color: #ffffff;
    cursor: pointer;
    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }
    &:hover {
      opacity: 0.9;
    }
  }

  &.forgotpass {
    width: 160px;
    height: 64px;
    margin-left: 9px;
    vertical-align: middle;
    background-color: #0cb69b;
    border: #707070;
    font: 16px Nexa-Bold, sans-serif;
    color: #ffffff;
    cursor: pointer;
    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }
    &:hover {
      opacity: 0.9;
    }
    @include breakpoint($sm) {
      margin: 25px 0 0;
    }
  }
}
