@import "../../../layout/layout";

.favourites {
  margin: 0 0 63px 8px;
}

.favourites__title {
  letter-spacing: -0.8px;

  @include breakpoint($xl) {
    text-align: center;
    margin-bottom: 20px;
  }
}