.form-select {
  .select-title {
    color: #6a6a6a;
    font-size: 13px;
    background-color: #f4f4f4;
    padding: 22px 29px;
    border: none;
    outline: none;
    i {
      float: right;
      margin-top: 3px;
    }
  }
  .select-body {
    .select-option {
      background-color: #f4f4f4;
      padding: 22px 29px;
      color: #6a6a6a;
      font-size: 13px;
      &:hover {
        background-color: #ffffff;
      }
    }
  }
}
