@import '../../layout/layout';

.form-location {
  width: 100%;
  .location {
    margin-bottom: 13px;
    color: #125451;
    font-size: 16px;
  }

  i {
    position: absolute;
    font-size: 23px;
    color: #0f4542;
    margin: 19px 26px;
  }

  input {
    background-color: #f4f4f4;
    width: 100%;
    border: none;
    color: #6a6a6a;
    outline: none;
    font-size: 13px;
    padding: 22px 58px;
  }
  @include breakpoint($md) {
    width: 505px;
  }

  @include breakpoint($sm) {
    width: 100%;
  }
}
