.form-location {
  width: 100%;
  .location {
    margin-bottom: 13px;
    color: #125451;
    font-size: 16px;
  }

  i {
    position: absolute;
    font-size: 23px;
    color: #0F4542;
    margin: 19px 26px;
  }

  input {
    background-color: #F4F4F4;
    width: 100%;
    border: none;
    color: #6A6A6A;
    outline: none;
    font-size: 13px;
    padding: 22px 58px;
  }
}
