@import "../../layout/layout";

input.formInput {
  width: 412px;
  height: 64px;
  background: #F4F4F4;
  border: #656565;
  font-size: 13px;
  font-family: Nexa-Bold, sans-serif;
  padding: 22px 29px 25px;
  @include breakpoint($sm) {
    width: 100% !important;
  }
  &.input-block-sign-up__item {
    
    @include breakpoint($xl) {
      width: 377px;
    }
    @include breakpoint($lg) {
      width: 338px;
    }
    @include breakpoint($md) {
      margin-top: 10px;
      width: 412px;
    }
    @include breakpoint($sm) {
      margin-top: 10px;
    }
  }
}
p.textLabel {
  font-size: 13px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #0F4542;
  font-weight: bold;
}