$nexa-font-family: "Nexa" !default;
$quicksand-font-family: "Quicksand" !default;
$nexa-font-family-bold: "Nexa-Bold" !default;
$nexa-font-family-bold1: "Nexa-Bold" !default;
$nexa-font-family-bold2: "Nexa-Bold" !default;
$nexa-font-family-light: "Nexa-Light" !default;
$nexa-font-family-light1: "Nexa-Light" !default;
$nexa-font-family-light2: "Nexa-Light" !default;
$quicksand-font-family-bold: "Quicksand-Bold" !default;
$font-path: "fonts" !default;
$icomoon-font-family: "icomoon" !default;