@import "../../layout/layout";

.notify-bottom {
  margin: 102px 0 0 2px;

  @include breakpoint($md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include breakpoint($sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.notify-bottom__title {
  @extend %my-profile-title;
}

.notify-bottom-checkbox-block {
  margin: 30px 0 0 7px;
  width: 542px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint($md) {
    width: 508px;
    margin: 31px 0 0 0;
  }

  @include breakpoint($sm) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.notify-bottom-checkbox-block__item {
  @include breakpoint($sm) {
    margin-bottom: 40px;
  }
}