@import "../../layout/layout";
@import "../../layout/colors";
@import "../../layout/mixins";

.custom-title {
  font-size: 31px;
  color: #125451;
  letter-spacing: -1.6px;
  word-spacing: 2px;
}

.my-account {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  @include breakpoint($sm) {
    flex-direction: column;
  }

  .account-content {
    width: 1202px;
    margin-top: -10px;
    
  }

}

.account-menu {
  display: flex;
  flex-direction: column;
  padding: 52px 36px 40px 49px;
  height: 545px;
  width: 321px;
  background-color: #1fc5cb;
  box-shadow: 0 3px 6px rgba(0,0,0,.2);
  margin-bottom: 60px;
}