@import "../../layout/layout";

.notify {
  margin-top: 80px;

  @include breakpoint($md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include breakpoint($sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.notify__title {
  @extend %my-profile-title;
}

.notify-checkbox-block {
  width: 533px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 31px 0 0 7px;

  @include breakpoint($md) {
    width: 504px;
    margin: 31px 0 0 0;
  }

  @include breakpoint($sm) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.notify-checkbox-block__item {
  margin-bottom: 29px;
}