.cart-list-container {
  margin-bottom: 50px;
  .cart-title {
    color: #125451;
    font-size: 31px;
    margin-bottom: 27.6px;
    font-family: Nexa-Bold, sans-serif;
  }
  .cart-body{
    display: flex;
    .cart-list {
      margin: 4px 38.1px 4px 0px;
      flex: 9;
    }
    .order-summary {
      margin: 4px 0px 4px 38.1px;
      flex: 3;
    }
  }
}