@import "../../layout/layout";
@import "../../layout/colors";
@import "../../layout/mixins";

.custom-title {
  font-size: 31px;
  color: #125451;
  letter-spacing: -1.6px;
  word-spacing: 2px;
}

.my-account {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  @include breakpoint($sm) {
    flex-direction: column;
  }

  .account-content {
    width: 1202px;
    margin-top: -10px;

    @include breakpoint($xl) {
      width: 890px;
    }

    @include breakpoint($lg) {
      width: 800px;
    }

    @include breakpoint($md) {
      width: 100%;
    }

    @include breakpoint($sm) {
      width: 100%;
    }
  }
}
