.breadcrumbs {
  width: 100%;
  margin: 33px 0px;
}
.breadcrumbs i {
  color: #707070;
  font-size: 6px;
  padding: 0px 16px;
}
.breadcrumbs .breadcrumbs__text {
  font: 13px Nexa-Bold, sans-serif;
  color: #383838;
}
.breadcrumbs .active {
  text-decoration: none;
}
.breadcrumbs .breadcrumbs__link {
  color: #383838;
}
