// ############ Colors ############

$white: #ffffff;
$green-dark: #0f4542;
$green-dark-section: #125451;

$green-lite-primary-color: #67b241;
$green-lite-secondary-color: #51ae60;

$cyan-primary-color: #0cb69b;
$cyan-secondary-color: #14bbc6;
$cyan-tertiary-color: #1dbbc6;
$cyan-fourth-color: #1fc5cb;

$light-gray: #f4f4f4;
$text-color: #030f0e;
$border-color: #efefef;
$subtitle-color: #17d6c2;
$info-color: #7c7b7b;

$shadow-color: #707070;

$ads-btn-text: #0cb69b;
$acc-btn-border: #13bbc3;
$pricing-shadow-color: #e2e2e2;
$pricing-fill: #ebfafb;
$pricing-border-color: #0fb8af;
