// ############ Colors ############

$white: #ffffff;
$green-dark: #0F4542;
$green-dark-section: #125451;

$green-lite-primary-color: #67B241;
$green-lite-secondary-color: #51AE60;

$cyan-primary-color: #0CB69B;
$cyan-secondary-color: #14BBC6;
$cyan-tertiary-color: #1DBBC6;
$cyan-fourth-color: #1FC5CB;

$light-gray: #F4F4F4;
$text-color: #030F0E;
$border-color: #EFEFEF;
$subtitle-color: #17D6C2;
$info-color: #7C7B7B;

$shadow-color: #707070;