@import "colors";

@mixin linear-gradient($direction, $fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, $direction, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient($direction, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient($direction, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient($direction, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient($direction, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient($direction, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

%container-info {
  height: 100%;
  margin: 0 auto;
  max-width: 1656px;
  padding: 0 15px 0 15px;
}

%list-item-container {
  position: relative;
  width: 44px;
  height: 44px;
  @include linear-gradient(to right, $cyan-primary-color, $cyan-secondary-color);
  border-radius: 50%;
}

%transform-translate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%icon-container {
  @extend %transform-translate;
  font-size: 19px;
}

%flex-options {
  display: flex;
  align-items: center;
  height: 100%;
}

%link {
  color: $green-dark;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid $green-dark;
  }
}

%router-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-right: 1px solid $green-dark;
  .router__link {
    @extend %link;
  }
}
