@import "colors";

@mixin linear-gradient($direction, $fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, $direction, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient($direction, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient($direction, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient($direction, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient($direction, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient($direction, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

%container-info {
  height: 100%;
  margin: 0 auto;
  max-width: 1656px;
  padding: 0 15px 0 15px;
}

%list-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  @include linear-gradient(to right, $cyan-primary-color, $cyan-secondary-color);
  border-radius: 50%;
}

%transform-translate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%icon-container {
  font-size: 19px;
}

%flex-options {
  display: flex;
  align-items: center;
  height: 100%;
}

%link {
  color: $green-dark;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid $green-dark;
  }
}

%router-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-right: 1px solid $green-dark;
  .router__link {
    @extend %link;
  }
}

%auth-button {
  font-family: Nexa-Bold, sans-serif;
  border: none;
  @include linear-gradient(to right, $cyan-primary-color, $cyan-secondary-color);
  cursor: pointer;
  color: $white;
  font-size: 16px;

  &:hover {
    opacity: 0.9;
  }
}


%focus-input {
  top: -24px;
  left: 0;
  font-family: "Roboto", sans-serif;
  color: $green-dark;
  font-weight: bold;
}

%select-container {
  display: flex;
  height: 70px;
  background-color: $light-gray;
}

%my-profile-title {
  font-size: 21px;
  margin-left: 7px;
  color: $green-dark-section;
  letter-spacing: -0.3px;
}

%account-title {
  letter-spacing: -1.1px;
  margin-left: 7px;
  padding-bottom: 19px;
  border-bottom: 1px solid #ebebeb;
}

%label-inputs {
  position: absolute;
  top: -24px;
  left: 0;
  font-family: "Roboto", sans-serif;
  color: $green-dark;
  font-size: 13px;
  font-weight: bold;
}

%disabled {
  opacity: 0.4;
  pointer-events: none;
}

%section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

%section-list__text-price {
  position: absolute;
  text-align: center;
  @include linear-gradient(to right, $cyan-primary-color, $cyan-secondary-color);
}

%price-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}

%product-footer {
  position: relative;
  margin-top: -5px;
  width: 100%;
  height: auto;
  z-index: 2;
  border: 1px solid $border-color;
}

%section-list__title {
  font-size: 18px;
  letter-spacing: -0.1px;
  color: $green-dark-section;
}

%section-list__text-info {
  font: 15px Nexa-Light, sans-serif;
  color: $info-color;
}

%section-list__link {
  color: $info-color;

  &:hover {
    color: $info-color;
    text-decoration: none;
  }
}

%products-list-description {
  letter-spacing: -0.1px;
  line-height: 25px;
  font-size: 15px;
  font-family: Nexa-Light, sans-serif;
  color: $info-color;
}