@import "../../layout/breakpoints";

.profile-form-container {
  margin: 7px 0px;
  display: grid;
  @media (max-width: 870px) {
    text-align: center;
  }
  .profile-form-title {
    margin: 23px 0px;
    font-family: Nexa-Bold, sans-serif;
    font-size: 31px;
  }
  .profile-form-body {
    max-width: 835px;
    margin-bottom: 21px;
    .profile-form-inputs {
      flex-wrap: wrap;
      justify-content: space-between;
      display: flex;
      @include breakpoint($sm) {
        display: block;
      }
      input {
        margin-bottom: 12px;
      }
    }
    .profile-form-checks {
      margin: 17px 0px;
      .profile-form-checks-title {
        padding: 17px 0px;
      }
      .profile-form-checks-body {
        display: flex;
        flex-wrap: wrap;
        div {
          padding-right: 35px;
        }
      }
    }
    .profile-form-location {
      margin: 22px 0px;
      .profile-form-location-title {
        margin: 13px 0px;
      }
      @media (max-width: 870px) {
        max-width: 412px;
        margin: 22px auto;
      }
      @include breakpoint($sm) {
        max-width: none;
      }
    }
    .profile-form-footer {
      margin-top: 29px;
      display: flex;
      flex-wrap: wrap;
    }
    .elements-body {
      @media (max-width: 870px) {
        justify-content: center;
      }
    }
  }
}
